DATABASE_URL=mysql2://root:@localhost/rv_hub_development?pool=5
MEMCACHED_URL=localhost:11211
MEMCACHED_IDEMPOTENCY_NAMESPACE=idempotency_keys
MEMCACHED_IDEMPOTENCY_TTL=86400
MEMCACHED_DEFAULT_NAMESPACE=default_dev
DEFAULT_PAGE_NUMBER=1
DEFAULT_ITEMS_PER_PAGE=25
BASE_URL=http://localhost:8888
API_VERSION=v1

